@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-main: "Fira Code", monospace;
  --font-sec: "Montserrat", sans-serif;

  --color-bgMain: #002b53;
  --color-bgBtn: #4db5ff;

  --text-main: #ffffff;

  --color-White: #ffffff;
  --color-Neon-Blue: #00d9ff;
  --color-Barbados-Bay: #066a65;
  --color-Mako: #525657;
  --color-Satin-Deep-Black: #1c2021;
  --color-Sweet-Sour: #c8a938;
  --color-Color-Me-Green: #7fba81;
  --color-Caramel: #af720b;
  --color-Pineapple: #50390e;
  --color-Amulet-Gem: #067b8f;
  --color-Mermaid-Net: #2dced2;
  --color-Spanish-Grey: #989898;
  --color-Burning-Tomato: #ef5133;
  --color-Jade-of-Emeralds: #329a38;
  --color-Dark-Serpent: #13351b;
  --color-Black-is-Back: #0d1a15;

  --background-image-bgImgMain: url("/bg_haikei.svg");
}

@layer base {
  section {
    @apply pb-16 ;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-main);
}


